h1,
label {
  text-align: center;
  font-weight: 100;
  margin: 1em 0;
}
form > *,
button {
  padding: 10px;
  width: 90%;
  margin: 0;
  margin-left: 5%;
  display: block;
  margin-bottom: 10px;
}
label,
input[type="range"] {
  text-align: center;
  margin: 20px auto;
  color: grey;
}
label {
  font-size: 16px;
  top: -50px;
  pointer-events: none;
}
textarea {
  font-size: 19px;
  line-height: 25px;
  padding: 10px 25px 0 25px;
  height: 110px;
  margin-left: 5%;
  border: none;
  border-left: 1px solid lightgrey;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-ms-track {
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 38px;
  background: var(--green);
  cursor: pointer;
  margin-top: -16px; /* specify a margin for Chrome,  in Firefox and IE it is automatic */
}
input[type="range"].normal::-webkit-slider-thumb {
  background: var(--yellow);
}
input[type="range"].important::-webkit-slider-thumb {
  background: var(--red);
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 1px;
  cursor: pointer;
  background: #eeeeee;
}
form > button {
  border: none;
  background: #222;
  color: white;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto;
  padding: 20px;
}
