body {
  padding: 30px;
}
form > * {
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
}
.done {
  background-color: #eee;
}
.done *:not(button) {
  text-decoration: line-through;
}
