* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
label {
  text-align: center;
  font-weight: 100;
  margin: 1em 0;
}
form > *,
button {
  padding: 10px;
  width: 90%;
  margin: 0;
  margin-left: 5%;
  display: block;
  margin-bottom: 10px;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
}
.done {
  background-color: #efefef;
}
.done *:not(button) {
  text-decoration: line-through;
}
label,
input[type="range"] {
  text-align: center;
  margin: 20px auto;
  color: grey;
}
textarea {
  font-size: 19px;
  line-height: 25px;
  padding: 10px 30px 0 30px;
  height: 110px;
  margin-left: 5%;
  border: none;
  border-left: 1px solid lightgrey;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-ms-track {
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 38px;
  background: rgb(24, 160, 76);
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
input[type="range"].normal::-webkit-slider-thumb {
  background: rgb(236, 236, 41);
}
input[type="range"].important::-webkit-slider-thumb {
  background: coral;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 1px;
  cursor: pointer;
  background: #eeeeee;
}

form > button {
  border: 1px solid lightgray;
  background: #222;
  color: white;
  font-size: 32px;
  font-weight: 100;
  margin: 0 auto;
  padding: 20px;
}
