.password {
  margin-left: 15vw;
  margin-top: calc(50vh - 35vw);
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(3, 20vw);
  grid-gap: 5vw;
}
.dot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
}
.dot > p {
  width: 100%;
  align-self: center;
  text-align: center;
  pointer-events: none;
}
.dot:hover {
  background-color: black;
}
.dot:hover > p {
  color: white;
}
