ul {
  padding: 5%;
  list-style: none;
}
li {
  border-left: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}
.done {
  background-color: #efefef;
}
.done *:not(button) {
  text-decoration: line-through;
}
